:root {

    --primary-dark: #504190;
    --primary: #6f5cc4;
    --primary-text: #969fb0;
    --primary-text-light: #c6cbd4;
    --primary-text-dark: #334666;

}

.user-name {

    color: var(--primary-text-dark) !important;
    font-size: 14px;
    font-weight: 600;
}

.chat-card {
    height: 80vh !important;
    display: flex;
    flex-direction: column;
}


.my-chat {

    color: var(--primary-text-dark) !important;
    font-size: 14px;
    font-weight: 600;
}

.chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}


.left-message {
    background-color: #e6e8ed;
    margin-right: auto;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
}

.right-message {
    background-color: var(--primary);
    margin-left: auto;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.message-content {
    padding: 8px;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
}


.chat-header {
    background-color: #fff !important;
    border-color: #e6e8ed !important;
}

.chat-footer {
    background-color: #fff !important;
    border-color: #e6e8ed !important;
    /* display: flex;
    align-items: center;
    padding: 0.5rem; */
    /* height: 65px !important; */
}

.totalCenter {
    justify-content: start;
    align-items: center;
    display: flex;
    text-align: center;
}



.chat-input {
    width: calc(80% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: white;
    font-size: 16px;
    min-height: 2lh;
    max-height: 7lh;
    resize: none;
}

.chat-input::placeholder {
    color: #999;
}

.chat-footer .chat-input {
    width: calc(100% - 20px);
    /* Adjusted width for the footer */
    min-height: 20px;
    /* Adjusted minimum height for the footer */
}

.chat-input:focus {
    border-color: var(--primary);
    /* Example color change on focus */
    box-shadow: 0 0 5px var(--primary-dark);
    /* Example box shadow on focus */
}

.typing-indicator {
    color: #888;
    /* Use a color that suits your design */
    font-size: 12px;
    margin: 4px 0 0;
    /* Adjust the margin as needed */
}


.chat-top-bar {
    background-color: #f7f7f7;
    display: flex;


}

.chat-folder-plus {
    margin-left: auto;
    margin-right: 12px;
    cursor: pointer;
    size: 18;
}

.chat-more-verticle {
    margin-left: auto;
    cursor: pointer;
    size: 18;

}

.chat-profile {
    width: 50px;
    height: 50px;

}

.newChat-top-bar {
    background-color: var(--primary);
    color: #fff;
    display: flex;
    /* grid-template-columns: 1fr auto; */
    align-items: center;
}

.chat-left-arrow {
    padding-top: 1.625rem;
    cursor: pointer;
}

.new-chat {
    padding-top: 2.5rem;
}

.first-text {
    margin: unset;
    font-size: 11px;
    font-weight: 400;
    color: var(--primary-text);
}

.first-text-div {
    line-height: 17px;
    padding: 0;
    padding-top: 1px;
    align-items: center;
}

.unread {   
    align-items: center;
    height: 14px;
    width: 14px;
    padding: 0;
    font-size: 11px;
    font-weight: 500;
    background-color: var(--primary-dark);
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}