:root {

    --primary-dark: #504190;
    --primary: #6f5cc4;
    --primary-text-dark: #334666;
    --primary-text: #969fb0;
    --primary-text-light: #c6cbd4;
    --primary-light: #e89f31;
    --bs-primary: #E88131;
    --secondary: #AAAAAA;
    --bs-secondary-rgb: #AAAAAA;
    --dark: #000000;
    --light-black: #324054;
    --light-dark: #484964;
    --white: #FFFFFF;
    --highlight: #F8F7FA;
    --silver: #dfdfdf;
    --success: #57E777;
    --danger: red;
    --light-bg: #f0f8ff;
}

.profile-sidebar {
    height: 100vh;
    color: var(--primary-text);
    /* Text color of the menu items */
    padding: 20px;
    /* Adjust the padding as needed */
    display: flex;
    /* justify-content: center; */

}

.profile-sidebar li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.profile-sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.profile-title {

    font-size: 14px;
    /* Adjust the font size as needed */
    font-family: sans-serif;
    font-weight: 400;
    color: var(--primary-text);
    /* Set the text color to white */
    /* margin-inline: 12px; */
    margin-top: 4px;
    /* border-bottom: 1px solid var(--primary-text); */

    /* font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* Add margin for spacing */
}

.profile-list-item {
    border: none !important;
    /* border-bottom: 1px solid var(--primary-text-light) !important; */

}

.profile-list-item .d-flex {
    border: none !important;
    border-bottom: 3px solid #f7f7f7 !important;

}

.profile-pic-containert {
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.input {
    border-radius: 4px !important;
    border-color: var(--primary-text-light) !important;
    height: 37px !important;
    outline: none;
    /* color: var(--primary) !important; */
}


.verticle-center {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.verticle-center .input {
    width: 300px;
}

.form-group {
    margin-bottom: 10px;
}