:root {

  --primary-dark: #504190;
  --primary: #6f5cc4;
  --primary-text-dark: #334666;
  --primary-text: #969fb0;
  --primary-text-light: #c6cbd4;
  --primary-light: #e89f31;
  --bs-primary: #E88131;
  --secondary: #AAAAAA;
  --bs-secondary-rgb: #AAAAAA;
  --dark: #000000;
  --light-black: #324054;
  --light-dark: #484964;
  --white: #FFFFFF;
  --highlight: #F8F7FA;
  --silver: #dfdfdf;
  --success: #57E777;
  --danger: red;
  --light-bg: #f0f8ff;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.primary-text {
  color: var(--primary-text) !important
}

.full-height-card {
  height: 100vh !important;

}


.chat-card {
  height: 80vh !important;
}




.w-98 {
  width: 98%;
}


.btn-primary,
.btn-outline-primary.active,
.btn-outline-primary:hover {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
  color: var(--white) !important;
  font-size: 14px !important;
  font-weight: 600;
  font-family: sans-serif;
  --bs-btn-focus-shadow-rgb: none !important;
  -bs-btn-focus-shadow-rgb: none !important
}

/* .container {
  background-color: #2a2739;
  margin: 0 !important;
  width: 100% !important;
} */

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background-color: #E2CF81
}

.containerImg .card {
  height: 500px;
  width: 800px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 10px
}

.containerImg .card .form {
  width: 100%;
  height: 100%;
  display: flex
}

.containerImg .card .left-side {
  width: 50%;
  background-color: #000;
  height: 100% !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden
}

.left-side img {
  height: 100%;
  width: 100%;
  object-fit: cover
}

.containerImg .card .right-side {
  width: 50%;
  background-color: #efecf2;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px
}

.main {
  display: none
}

.active {
  display: block
}

.register p {
  display: flex;
  justify-content: end;
  font-size: 13px;
  font-weight: 600;
  color: #2a2739
}

.register p a {
  text-decoration: none;
  color: blue;
  margin-left: 3px
}

.hello {
  margin-top: 40px;
  text-align: center;
  color: #2a2739
}

.hello h4 {
  margin-top: 5px
}

.input_text {
  position: relative;
  margin-top: 20px
}

input[type="text"] {
  height: 45px;
  width: 100%;
  border: none;
  outline: 0;
  padding: 0 10px;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #fff
}

input[type="password"] {
  height: 45px;
  width: 100%;
  border: none;
  outline: 0;
  padding: 0 10px;
  font-size: 13px;
  border-radius: 10px;
  padding-right: 33px;
  border: 1px solid #fff
}

.input_text p {
  margin-top: 4px;
  font-size: 13px;
  margin-left: 10px;
  color: red
}

.danger {
  display: none
}

.input_text p i {
  margin-right: 2px
}

.fa-eye-slash {
  position: absolute;
  top: 15px;
  right: 8px;
  cursor: pointer;
  color: #727286
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 8px;
  cursor: pointer;
  color: #727286
}

.recovery {
  margin-top: 15px;
  font-size: 13px;
  text-align: end
}

.btn {
  margin-top: 15px
}

.btn button {
  height: 45px;
  width: 100%;
  border: none;
  outline: 0;
  background-color: #fe6b68;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 13px;
  color: #fff
}

.btn button:hover {
  background-color: #f1221e
}

.right-side hr {
  margin-top: 30px;
  color: #fff;
  border: 0;
  border-top: 1px solid #fff
}

.or {
  display: flex;
  justify-content: center;
  font-size: 13px
}

.or p {
  z-index: 2;
  margin-top: -10px;
  background-color: #efecf2;
  padding: 0 4px
}

.boxes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px
}

.boxes span {
  height: 45px;
  width: 60px;
  border: 1px solid #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s
}

.boxes span img {
  width: 30px;
  cursor: pointer;
  transition: all 0.5s
}

.boxes span:hover img {
  width: 35px
}

.boxes span:hover {
  border: 4px solid #fff
}

.warning {
  border: 1px solid red !important
}

@media (max-width:750px) {
  .containerImg .card {
    max-width: 350px
  }

  .containerImg .card .right-side {
    border-radius: 10px;
    width: 100%
  }

  .containerImg .card .left-side {
    display: none
  }
}

.container-fluid {
  background-color: "#f7f7f7"
}

.Button:focus {
  outline: none;
}

.btn-secondary {
  --bs-btn-focus-shadow-rgb: none;

}

.text-right {
  text-align: end !important;
}


.heading {
  padding: 0;
  font-weight: 600;

}

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fff;
  background-color: #dee2e6;
}

#style-3::-webkit-scrollbar {
  width: 3px !important;
  background-color: #dee2e6 !important;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #dee2e6;
}

.scrolled {
  /* Add your styling rules for the scrolled state here */
  border-top: 1px solid #c7ccd5;
  width: 98%;
  /* background-color: #c7ccd5; */
  /* Any other styling changes you want when scrolled */
}